<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 命名空间要唯一 -->
<mapper namespace="com.primeton.user_manager.dao.IUserDao"><!-- 命名空间习惯上命名为包名+类名的形式 -->
	
	<resultMap type="user" id="userMapper">
		
		<id property="id" column="id"/>
		<result property="username" column="username"/>
		<result property="password" column="password"/>
		<result property="email" column="email"/>
		<result property="islock" column="islock"/>
		
	</resultMap>
	
	<select id="findAll" parameterType="map" resultMap="userMapper">
		SELECT id, username, password, email, isLock FROM tuser LIMIT #{index}, #{size}
	</select>
	
	
	<update id="updateLockStatus" parameterType="int">
		UPDATE tuser SET islock = 0 WHERE id = #{id};	
	</update>
	
	<select id="count" resultType="int">		
		select count(1) from tuser
	</select>
	
	<select id="delete" parameterType="int">
		DELETE FROM tuser WHERE id = #{id}
	</select>
	
</mapper>







