<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 命名空间要唯一 -->
<mapper namespace="com.primeton.order.dao.IOrderDao"><!-- 命名空间习惯上命名为包名+类名的形式 -->

	<resultMap type="user" id="userMapper">
		<id property="id" column="uid"/>
		<result property="username" column="username"/>
		
	</resultMap>

	<resultMap type="order" id="orderMapper">
		<id property="id" column="id"/>
		<result property="orderNum" column="ordernum"/>
		<result property="totalPrice" column="totalprice"/>
		<result property="createDate" column="createdate"/>
		<result property="state" column="state"/>
		<association property="buyer" resultMap="userMapper"></association>
	</resultMap>
	
	<update id="updateStatus" parameterType="map">
		UPDATE t_orders SET state = #{newStatus} WHERE id = #{orderId}		
	</update>
	
	<select id="findAll" parameterType="map" resultMap="orderMapper">
		SELECT o.id, o.ordernum, o.buyerId uid, o.totalprice, o.createdate, o.state, u.username 
		FROM t_orders o INNER JOIN t_user u ON o.buyerId = u.id 
		LIMIT #{index}, #{size}
	</select>
	
	<select id="count" resultType="int">
		select count(1) from t_orders
	</select>
	
	<select id="findByStatus" parameterType="map" resultMap="orderMapper">
		SELECT o.id, o.ordernum, o.buyerId uid, o.totalprice, o.createdate, o.state, u.username 
		FROM t_orders o INNER JOIN t_user u ON o.buyerId = u.id 
		WHERE o.state = #{status}
		LIMIT #{index}, #{size}		
	</select>
	
	<select id="countByStatus" parameterType="int" resultType="int">
		select count(1) from t_orders WHERE state = #{status}
	</select>
	
	<select id="findById" parameterType="int" resultMap="orderMapper">
		SELECT o.id, o.ordernum, o.buyerId uid, o.totalprice, o.createdate, o.state, u.username 
		FROM t_orders o INNER JOIN t_user u ON o.buyerId = u.id 
		WHERE o.id = #{orderId}
	</select>
	
</mapper>







