<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 命名空间要唯一 -->
<mapper namespace="com.primeton.order.dao.IUserDao"><!-- 命名空间习惯上命名为包名+类名的形式 -->
	
	<resultMap type="user" id="userMapper">
		
		<id property="id" column="id"/>
		<result property="username" column="username"/>
		<result property="password" column="password"/>
		<result property="email" column="email"/>
		<result property="isLock" column="islock"/>
		
	</resultMap>
	
	<select id="findAll" parameterType="map" resultMap="userMapper">
		SELECT id, username, password, email, isLock FROM t_user LIMIT #{index}, #{size}
	</select>
	
	
	<update id="updateLockStatus" parameterType="int">
		UPDATE t_user SET islock = 0 WHERE id = #{id};	
	</update>
	
	<select id="count" resultType="int">		
		select count(1) from t_user
	</select>
	
	<select id="delete" parameterType="int">
		DELETE FROM t_user WHERE id = #{id}
	</select>
	
</mapper>







